@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 0.5em 0.8em;
  margin-top: 4.8%;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* LINKS */

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  padding-right: 1em;
  color: rgb(115, 115, 115);
}

/* HEADER AND FOOTER */

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 10%;
  position: sticky; top: 0; right: 1vh;
}

.left-links, .right-links {
  display: flex;
}

.left-links {
  margin-left: -1em;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 10%;
  position: absolute; bottom: -1em;
  background-color: #eeeeee;
}