body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

ul, ol {
  list-style-type: none;
}

/* HEADER */
.header {
  height: 2em;
  background: darkmagenta;
  color: white;
  font-size: 32px; font-weight: 900;
  align-content: center;
}

.awesome-website {
  position: relative;
  margin-left: 0.7em;
}

/* MIDDLE CONTENT */
.middle-content {
  display: flex;
  width: 100vh;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* FOOTER */
.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  width: 100%;
  height: 2.5em;
  align-items: center;
  justify-content: center;
  justify-self: end;
  margin-top: auto;
}



