.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 4px 20px;
}

a {
  font-size: 22px;
  background: white;
  margin: 5px;
  padding: 5px;
  /* this removes the line under the links */
  text-decoration: none;
}